.About {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .Left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    text-align: start;
    margin: 0px 350px;

    .Section {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      width: 750px;
      background: #000000cc;
      padding: 25px;
      margin: 20px 0px;
      border-radius: 10px;
    }

    .AboutTitle {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: start;
      margin-bottom: 10px;

      font-family: "Roboto Mono", monospace;
      font-size: 25px;
      color: $brightcolor;
    }

    .AboutText {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 750px;
      text-align: start;

      font-size: 16px;
      font-weight: 300;
      line-height: 170%;
      color: $textcolor;
    }

    .Professional {
      box-shadow: -50px -50px 0px $accentcolor;
    }

    .Personal {
      box-shadow: 50px 50px 0px $accentcolor;
    }
  }
  .Right {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $textcolor;
  }
}
