$bgcolor: #001122;
$accentcolor: #00c4c4;
$textcolor: #aaa;
$brightcolor: #eee;

@import "./NavBar/NavBar";
@import "./SocialsBar/SocialsBar";
@import "./Landing/Landing";
@import "./About/About";

.App {
  text-align: center;
  background-color: $bgcolor;
  height: 100vh;
  width: 100vw;
  background: $bgcolor;
  scroll-behavior: smooth;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
